name: Deploy Notebook branch

on:
  workflow_dispatch:
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  notebook:
    name: Deploy notebook branch
    permissions:
      contents: write
    runs-on: ubuntu-slim
    steps:
    - name: Checkout repository
      uses: actions/checkout@v5
    - name: Setup Julia
      uses: julia-actions/setup-julia@v2
    - name: Convert literate files to Jupyter notebooks
      shell: julia --color=yes {0}
      working-directory: docs
      run: |
        import Pkg
        Pkg.add("Literate")
        using Literate
        for (root, dirs, files) in walkdir(pwd())
          for file in files
            if endswith(file, ".jl")
              nb = joinpath(root, file)
              Literate.notebook(nb, dirname(nb); mdstrings=true, execute=false)
            end
          end
        end
    - name: Deploy notebooks
      uses: peaceiris/actions-gh-pages@v4
      with:
        publish_dir: .
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: ipynb
        commit_message: ${{ github.event.head_commit.message }}
